@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: black;
}

@font-face {
    font-family: 'Cabinet Grotesk';
    src: url(/fonts/CabinetGrotesk-Variable.woff2) format(woff2);
}

@font-face {
    font-family: 'Satoshi';
    src: url(/fonts/Satoshi-Variable.woff2) format(woff2);
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background-color: #000;
}

::-webkit-scrollbar-thumb {
    background-color: #150b46;
    border-radius: 2px;
}


.wrapper {
    display: grid;
    font-size: clamp(1.5rem, 1rem + 4vw, 15rem);
    color: #fff;
}

.wrapper>div {
    grid-area: 1/1;
}

.top {
    clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 58%);
}

.bottom {
    clip-path: polygon(0% 60%, 100% 50%, 100% 100%, 0% 100%);
    color: transparent;
    background: -webkit-linear-gradient(179deg, black 50%, #000 65%);
    background: linear-gradient(179deg, black 50%, #fff 65%);
    background-clip: text;
    -webkit-background-clip: text;
    transform: translateX(-0.01em);
}